/* ***** listpiece****** */
#tableList {
  margin-left: 250px;
}
#listPiece-form {
  position: fixed;
  top: 100px;
}

#filter-from {
  background-color: rgba(8, 112, 76, 0.479);
}
#h {
  border: 3px solid rgb(0, 0, 0);
}
/* listmodification */
#pieceModifs {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#pieceModifs img {
    height: 200px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.486);
}
#pieceModifs input {
    width: 100%;
}
/************* RESPONSIVE *************/
@media only screen and (max-width: 600px) {
  #listPiece-form {
    position: relative;
    top: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #tableList {
    margin-top: 20px;
    margin-left: 0;
  }
}

.chosen,
.chosen:hover,
.chosen::selection {
  color: green !important;
}
